* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    font-size: 18px;
    height: 410px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
}

li + li {
    border-top: 1px solid #ccc;
}

h3, h4 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-size: 22px;
}

p {
    font-size: 18px;
}

.time-ball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 5px;
    background: #cc5533;
    border-radius: 50%;
    border: 1px solid #ce5738;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.timetable-information-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}

.information-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.agegroup-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 370px;
}

.agegroup-grid .form-heading {
    grid-column: 1 / -1;
    text-align: center;
}

.agegroup-grid .back-button {
    grid-column: 1 / -1;
}

.form-heading {
    text-align: center;
}

.subcamp-button {
    background-color: #ce5738;
    border-radius: 30px;
    border: 1px solid #ce5738;
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    min-width: 170px;
    max-width: 300px;
}

.agegroup-button {
    background-color: #ce5738;
    border-radius: 30px;
    border: 1px solid #ce5738;
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.back-button {
    background-color: grey;
    border-radius: 30px;
    border: 1px solid grey;
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
}